<div class="container">
  <div class="well">
    <h2 class="text-center"></h2>
    <br>
    <br>
    <br>

    <div class="input-group">
      <input type="text" class="form-control" placeholder="Search project by title..."
        [(ngModel)]="searchTerm" (ngModelChange)="filterProjects()" />
      <div class="input-group-append">
        <button class="btn btn-primary" type="button">
          <i class="fa fa-search"></i>
        </button>
      </div>
    </div>
    <br>
    <br>
    <br>

    <section class="carousel slide" id="myCarousel  ">

      <div class="container">
        <div class="row">
          <div class="col-sm-12 text-right mb-4">
            <span class="btn btn-outline-secondary carousel-control left" (click)="previousItems()" title="go back">
              <i class="fa fa-lg fa-chevron-left"></i>
            </span>
            <span class="btn btn-outline-secondary carousel-control right" (click)="nextItems()" title="more">
              <i class="fa fa-lg fa-chevron-right"></i>
            </span>
          </div>
        </div>
      </div>

      <div class="container p-t-0 m-t-2 carousel-inner ">
        <div class="row row-equal carousel-item m-t-0" [class.active]="activeIndex==i"
          *ngFor="let chunkProjects of projects ;let i=index;">
          <div *ngFor="let project of chunkProjects " class="col-sm-4">
            <div class="card">
              <div class="card-block pt-2">
                <div class="col-sm-12 text-center card-text">
                  <img class="card-img-top" src="assets/images/defaultProject.png" alt="default photo" width="40%" >
                  <h4>{{project.title}}</h4>
                  <br>
                  <p>{{project.description}}</p>
                  <button class="btn btn-primary" type="button" (click)="goToProjectDetails(project.projectId)">See more...</button>
                  
                </div>
                  <br>
                  

              </div>
            </div> 
          </div>
        </div>
      </div>
    </section>
  </div>
</div>