<nav class="navbar navbar-dark bg-primary fixed-top">
    <a class="navbar-brand" href="home"><img src="assets/images/crowdologo.png" alt="CrowDo logo"> </a>
        <div class="navbar-expand ml-auto navbar-nav">
          <div class="navbar-nav">
                <ul class="nav navbar-nav navbar-right">
                        <li><a href="register" class="btn btn-primary"  role="button">Sign Up</a></li>
                         <li><a href="login" class="btn btn-primary" role="button">Log In</a></li>
                 </ul>
          </div>
    </div>
 </nav>
