<!---
<br>
<br>
<div class="container" *ngIf="project">
    <div class="card">
        <div class="container-fliud">
            <div class="wrapper row">
                <div class="preview col-md-6" >
                
                    <div class="preview-pic tab-content">
                      <div class="tab-pane active" id="pic-1"><img src="assets/images/lamp.png" /></div>
                    </div>
                   
                </div>
                <div class="details col-md-6">
                    <h3 class="product-title">{{project.title}}</h3>
                    <p class="product-description">{{project.description}}</p>
                    <h4 class="price">{{project.creator.firstName}} {{project.creator.lastName}}</h4>
                    <p>{{project.category}}</p>
                    <p> <strong> Start Date of Project: </strong>{{project.startDate}}</p>
                    <p> <strong> End Date of Project: </strong>{{project.startDate}}</p>
                    <p> <strong> Packages: </strong>{{project.Packages}}</p> 
                     gia to progress
                    <p class="vote"><strong>91%</strong> of buyers enjoyed this product! <strong>(87 votes)</strong></p> 
                    <div class="action">
                        <button class="btn btn-primary" type="button" (click)="fundAproject(project.projectId)">Fund</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
---------------------------------------------------------------------------->

<div class="page-content page-container" id="page-content" *ngIf="project">
    <div class="padding">
        <div class="row container d-flex justify-content-center">
            <div class="col-xl-12 col-md-12">
                <div class="card user-card-full">
                    <div class="row m-l-0 m-r-0">
                        <div class="col-sm-4 bg-c-lite-green user-profile">
                            <div class="card-block text-center text-white">
                                <div class="m-b-25"> <img src="assets/images/defaultProject.png" class="img-radius"
                                        alt="Project Image"> </div>
                                <i class="fa fa-star"></i>
                                <h3 class="f-w-600">{{project.title}}</h3>
                                <br>

                                <h6>{{project.description}</h6>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <div class="card-block">
                            <h5 class="m-b-20 p-b-5 b-b-default f-w-600">Current Status</h5>
                            <div class="row" style="text-align: center;">
                                <div class="col-sm-12" >
                                    <p class="m-b-10 f-w-600"><i class="fa fa-user"></i> Creator</p>
                                    <h4 class="text-muted f-w-400"><b>{{project.creator.firstName}}
                                    {{project.creator.lastName}}</b></h4>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm-6">
                                <p class="m-b-10 f-w-600"><i class="fa fa-hourglass-start"></i> Start Date</p>
                                <h5 class="text-muted f-w-400">
                                    {{project.startDate | date:'mediumDate'}}</h5>
                            </div>
                       
                            
                                <div class="col-sm-6">
                                    <p class="m-b-10 f-w-600"><i class="fa fa-hourglass-end"></i> End Date</p>
                                    <h5 class="text-muted f-w-400">{{project.endDate | date:'mediumDate'}} </h5>
                                </div>
                             
                        </div>
                        <br>

                        <div>
                        <p class="m-b-10 f-w-600"><i class="fa fa-spinner"></i> Progress</p>
                        <div class="progress">
                                
                                <div class="progress-bar bg-warning" role="progressbar" style="width: 40%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">40%</div>
                              </div>
                            </div>

                        <hr>
                        <div class="action">
                            <button class="btn btn-success" type="button"
                                (click)="fundAproject(project.projectId)">Fund</button>
                                <br>
                        </div>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>