
    <br>
    <br>
<div class="page-content page-container" id="page-content" *ngIf="member">
    <div class="padding">
        <div class="row container d-flex justify-content-center">
            <div class="col-xl-12 col-md-12">
                <div class="card user-card-full">
                    <div class="row m-l-0 m-r-0">
                        <div class="col-sm-4 bg-c-lite-green user-profile">
                            <div class="card-block text-center text-white">
                                <div class="m-b-25"> <img src="assets/images/defaultMember.png" class="img-radius" alt="User-Profile-Image"> </div>
                                <h4 class="f-w-600">{{member.firstName}} {{member.lastName}}</h4>
                                <br>
                                <br>
                            <button class="btn btn-warning" data-toggle="tooltip" data-placement="top" title="Edit my profile" type="button" (click)="editUser()">Edit my profile <i class="fa fa-edit"></i></button>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div class="card-block">
                                <h6 class="m-b-20 p-b-5 b-b-default f-w-600" style="text-align: center;">Information</h6>
                                <div class="row" style="text-align: center;">
                                    <div class="col-sm-6">
                                        <p class="m-b-10 f-w-600"> Email </p>
                                        <h6 class="text-muted f-w-400"><i class="fa fa-envelope"></i> {{member.email}}</h6>
                                    </div>
                                    <div class="col-sm-6">
                                        <p class="m-b-10 f-w-600">Address</p>
                                        <h6 class="text-muted f-w-400"><i class="fa fa-map-marker"></i> {{member.address}}</h6>
                                    </div>
                                </div>
                                <br>
                                <br>
                                <br>
                            
                                <hr>
                                <div class="row" style="text-align: center;">
                                    <div class="col-sm-6">
                                        <p class="m-b-10 f-w-600">Projects</p>
                                        <button class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="See my projects" type="button" (click)="showProject()"> Pr<i class="fa fa-star"></i>jects</button>
                                    </div>
                                    <div class="col-sm-6" >
                                        <p class="m-b-10 f-w-600">Fundings</p>
                                        <button class="btn btn-success" data-toggle="tooltip" data-placement="top" title="See my fundings" type="button" (click)="showFundings()" > Funding<i class="fa fa-dollar"></i></button>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>