<br>
<br>
<div class="container">
  <h2 class="text-center">My projects</h2>
  <br>
  <br>
  <br>

  <div class="card-columns">
    <div class="card" *ngFor="let project of projects" style="width: 13rem;">
      <div class="card-body">
        <img class="card-img-top" src="assets\images\icon.png" alt="Image of Project" width="50%"
          style="text-align: center;">
        <br>
        <h5 class="card-title" style="text-align: center;">{{project.title}}</h5>
        <p class="card-text">{{project.description}}</p>
      </div>
      <div class="card-footer" style="text-align: center;">
        <div class="btn-group">
          <button class="btn btn-info" data-toggle="tooltip" data-placement="top" title="Info" type="button"
            (click)="goToProjectDetails(project.projectId)"> <i class="fa fa-info"></i></button>
          <button class="btn btn-warning" data-toggle="tooltip" data-placement="top" title="Edit" type="button"
            (click)="editProject(project.projectId)"><i class="fa fa-edit"></i></button>
          <button class="btn btn-danger" data-toggle="tooltip" data-placement="top" title="Delete" type="button"
            (click)="deleteProject(project.projectId)"><i class="fa fa-trash"></i></button>
        </div>
      </div>

    </div>
  </div>
</div>