<br>
<br>
<div class="container">
  <h2 class="text-center">Choose a project</h2>
  <br>
  <br>
  <br>
    <div class="list-group" *ngFor="let project of projects">
      <a> <!--project link-->
            <div class="media col-md-3"> <!--image div-->
                <figure class="pull-left">
                    <img class="media-object img-rounded img-responsive"  src="http://placehold.it/350x250" alt="placehold.it/350x250" >
                </figure>
                <div class="col-md-6"> <!--Title and description-->
                  <h4 class="list-group-item-heading"> {{project.title}} </h4>
                  <p class="list-group-item-text"> {{project.description}}</p>
                </div>
                <div class="col-md-3 text-center"> <!--button div-->
                  <button class="btn btn-primary" type="button" (click)="goToProjectDetails(project.projectId)"> See Details </button>
                  <button class="btn btn-success" type="button" (click)="editProject(project.projectId)"> Edit Project </button>
                  <button class="btn btn-danger" type="button" (click)="deleteProject(project.projectId)"> Delete Project </button>
                </div>
            </div>
          </a>
  </div>  
</div>